.container {
    background-color: black;
    border: gold solid 3px;
    height: max-content;
    font-size: 20px;
    padding:5px;
}
.nav-bar {
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 97px;
    border: outset gold 7px;
    padding: 10px;
}

button, a {
    background-color: white;
    color: gold;
    border: none;
}

.services {
    background-color: rgb(197 141 3);
    width: 1300px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
}

.service_tab {
    width: 282px;
}

.services_title {
    text-align: center;
    background-color: rgb(197 141 3);
    width:1300px;
}

.gallery {
    border: whitesmoke 3px solid;
    height: fit-content;
    color: whitesmoke;
}

p {
    width:300px;
    font-family: cursive;
}

.logo {
    width: 264px;
        height: 303px;
        margin-top: -118px;
}

img {
    width: 200px;
    height: 300px;
}

.contact_info {
    display: flex;
    width: 670px;
}

.cart{
    height: 79px;
    width: 100px;
    margin-top: -10px;
}

.checkout {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-start;
}

#login, #register {
    width: 300px;
    display: none;
}

.login_and_register {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.form-control {
    height: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}