.container {
    background-color: black;
    border: gold solid 3px;
    height: max-content;
    font-size: 20px;
    padding:5px;
}
.nav-bar {
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 97px;
    border: outset gold 7px;
    padding: 10px;
}

button, a {
    background-color: black;
    color: white;
}

.services {
    background-color: gold;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 437px;
    padding: 10px;
    border: outset white 10px;
}

.gallery {
    border: whitesmoke 3px solid;
    height: fit-content;
    color: whitesmoke;
}

p {
    width:500px;
    font-family: cursive;
}

.logo {
    width: 286px;
    height: 260px;
    margin-top: -102px;
}

img {
    width: 200px;
    height: 300px;
}

.contact_info {
    display: flex;
    width: 670px;
}

.cart{
    height: 79px;
    width: 100px;
    margin-top: -10px;
}